.Button {
    cursor: pointer;
    color: red;
    padding: 6px 15px;
    transition: all 0.3s ease-out;
}

.clear,
.clearInverted,
.icon_inside {
    padding: 0;
    border: 0;
    border: none;
    background: none;
    outline: none;
    position: relative;
}

.clearInverted {
    color: var(--inverted-primary-color);

    &::after {
        background-color: (var(--inverted-primary-color));
    }
}

.clear {
    &::after {
        background-color: (var(--primary-color));
    }
}

.clear,
.clearInverted {
    &::after {
        display: block;
        position: absolute;
        left: 0;
        width: 0;
        height: 2px;
        content: "";
        transition: all 0.3s ease-out;
    }

    &:not(.disabled):hover::after {
        width: 100%;
    }
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;

    &:not(.disabled):hover {
        background-color: var(--primary-color);
        color: var(--inverted-primary-color);
    }
}

.outline_red {
    border: 1px solid var(--red-light);
    color: var(--red-light);
    background: none;

    &:not(.disabled):hover {
        background-color: var(--red-light);
        color: #fff;
    }
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;

    &:not(.disabled):hover {
        transform: scale(1.2);
    }
}

.backgroundInverted {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;

    &:not(.disabled):hover {
        transform: scale(1.2);
    }
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
    font: var(--font-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
    font: var(--font-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
    font: var(--font-xl);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}

.icon_inside {
    line-height: 1;

    &:not(.disabled):hover {
        transform: scale(1.2);
    }
}

.fullWidth {
    width: 100%;
}
