.Dropdown {
    position: relative;
}

.btn {
    background: none;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

.menu {
    background: var(--dark-bg-redesigned);
    position: absolute;
    z-index: 10000;
    border-radius: 18px;
    border: 1px solid var(--accent-redesigned);
    flex-direction: column;
    display: flex;
    overflow: hidden;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.item {
    padding: 10px 25px;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    color: var(--text-redesigned);
    cursor: pointer;
}

.active {
    background: var(--light-bg-redesigned);
}
