.app_green_theme {
    --bg-color: #065415;
    --inverted-bg-color: #f4fbf5;
    --primary-color: #f4fbf5;
    --secondary-color: #143003;
    --inverted-primary-color: #143003;
    --inverted-secondary-color: #143003;
}
